@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

setWebDisplayAppearance-JS



.btn {
    float: right;
    font-size: 15px;
    text-align: center;
    background: transparent;
    color: black;
    cursor: pointer
}

.dark-mode {
    background: #374151;
    color: #fff;
  }

* {
    font-family: 'Montserrat';
    background-color: floralwhite;
}

body,h1,h2 {
    margin:0px;
    padding:0px;
}

body {
    min-width: fit-content;
}

h1 {
    color:green;
    text-decoration:lightgreen;
    font-weight:bold;
    text-align: right;
    font-weight: 800;
}

.introduce {
    width: 610px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
    
}

.content {
    width: 610px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 5px;
    text-align: right;
}



h2 {
    color:darkgray;
    font-size:30px;
    font-weight:bolder;  
    font-style: italic;
    text-align: right;
    
}

p {
    font-size: 12;
    text-align: right;
}

.content-image {
    width: 40%;
}

.space {
    height: 000px;
  }
  
.act-image {
    width: 10%;
}

. slide {
    width: 80px;
}